<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-flow.ZPM">
    <Module>
      <Name>iris-flow</Name>
      <Version>1.0.0</Version>
      <Description>An API for create IRIS Interoperability from graphical flows</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Telegram.PKG"/>
      <Resource Name="dc.irisflow.PKG"/>
      <UnitTest Name="/src" Package="UnitTest" Phase="test"/>
      <CSPApplication CookiePath="/csp/irisflow/" DefaultTimeout="900" DeployPath="{cspdir}/csp/${namespace}/" Description="Interoperability Management Portal" MatchRoles=":{$dbrole}" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" SourcePath="/src/csp" UnauthenticatedEnabled="0" Url="/csp/irisflow" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/csp/irisflow/api/" DefaultTimeout="900" DispatchClass="dc.irisflow.rest.Dispatch" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/csp/irisflow/api" UseSessionCookie="2"/>
    </Module>
  </Document>
</Export>
