<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-flow.ZPM">
    <Module>
      <Name>iris-flow</Name>
      <Version>1.0.0</Version>
      <Description>An API for create IRIS Interoperability from graphical flows</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Telegram.PKG"/>
      <Resource Name="dc.irisflow.PKG"/>
      <UnitTest Name="/src" Package="UnitTest" Phase="test"/>
    </Module>
  </Document>
</Export>